/*900 700 500 400*/

@font-face {
    font-family: TT Norms Pro;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../public/fonts/TTNormsPro-Regular.ttf")
}

@font-face {
    font-family: TT Norms Pro;
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("../public/fonts/TTNormsPro-Medium.ttf")
}

@font-face {
    font-family: TT Norms Pro;
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url("../public/fonts/TTNormsPro-ExtraBlack.ttf")
}

@font-face {
    font-family: TT Norms Pro;
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("../public/fonts/TTNormsPro-Bold.ttf")
}

body {
    position: relative;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    background: #09090C;
    color: white;
    font-family: TT Norms Pro, sans-serif;
}


h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

button {
    font-family: TT Norms Pro, sans-serif;
    border: none;
    cursor: pointer;
}

a {
    text-decoration: none;
}


